<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4" id="blog-name">Alpha Blog</h1>
    <p class="lead">This is the best blog ever!!!</p>
    <hr class="my-4">
    <p>A place for your thoughts.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up</a>
  </div>
</div>

